---
import Head from "../component/head.astro";
import Foot from "../component/foot.astro";
import Menu from "../component/menu.astro";
---

<!doctype html>
<html lang="en" class="no-js">
  <Head />
  <body>
    <Menu />
    <main style="margin-bottom: 20px;">
      <slot />
    </main>
    <Foot />
  </body>
</html>
