---
import Layout from "../../../layout/BaseLayout.astro";

const { lang } = Astro.params;

let title = "Go Language";
if (lang == "php") {
  title = "PHP";
} else if (lang == "astro") {
  title = "Astro";
}
---

<Layout>
  <!-- Page Banner -->
  <div class="page-banner overlay">
    <picture class="media media-bg">
      <source
        media="(max-width: 575px)"
        srcset="/assets/img/banner/page-banner-575.jpg"
      />
      <source
        media="(max-width: 991px)"
        srcset="/assets/img/banner/page-banner-991.jpg"
      />
      <img
        src="/assets/img/banner/page-banner.jpg"
        width="1920"
        height="520"
        loading="eager"
        alt="Page Banner Image"
      />
    </picture>
    <div class="page-banner-content">
      <div class="container text-center">
        <h1 class="heading text-80 fw-700" data-aos="fade-up">{title}</h1>
        <ul
          class="breadcrumb list-unstyled"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <li>
            <a href="/" class="text text-18" aria-label="Home Page">
              Beranda
            </a>
          </li>
          <li>
            <svg
              width="8"
              height="12"
              viewBox="0 0 8 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.08929 5.40903C7.24552 5.5653 7.33328 5.77723 7.33328 5.9982C7.33328 6.21917 7.24552 6.43109 7.08929 6.58736L2.37512 11.3015C2.29825 11.3811 2.2063 11.4446 2.10463 11.4883C2.00296 11.532 1.89361 11.5549 1.78296 11.5559C1.67231 11.5569 1.56258 11.5358 1.46016 11.4939C1.35775 11.452 1.2647 11.3901 1.18646 11.3119C1.10822 11.2336 1.04634 11.1406 1.00444 11.0382C0.962537 10.9357 0.941453 10.826 0.942414 10.7154C0.943376 10.6047 0.966364 10.4954 1.01004 10.3937C1.05371 10.292 1.1172 10.2001 1.19679 10.1232L5.32179 5.9982L1.19679 1.8732C1.04499 1.71603 0.960996 1.50553 0.962894 1.28703C0.964793 1.06853 1.05243 0.859522 1.20694 0.705015C1.36145 0.550508 1.57046 0.462868 1.78896 0.460969C2.00745 0.45907 2.21795 0.543066 2.37512 0.694864L7.08929 5.40903Z"
                fill="currentColor"></path>
            </svg>
          </li>
          <li>
            <a role="link" aria-disabled="true" class="text text-18 active">
              {title}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-service-details mt-100">
    <div class="container">
      <drawer-opener
        class="open-sidebar svg-wrapper text text-20 fw-500 lg:!hidden"
        data-drawer=".drawer-service-sidebar"
        data-aos="fade-up"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z"
          ></path>
        </svg>
        Filter
      </drawer-opener>
      <div class="grid grid-cols-12 lg:gap-1">
        <div class="col-span-12 lg:col-span-5">
          <div class="sidebar-filter drawer-service-sidebar">
            <div class="drawer-headings lg:!hidden" data-aos="fade-up">
              <div class="heading text-24">Filter</div>
              <drawer-opener
                class="svg-wrapper menu-close"
                data-drawer=".drawer-service-sidebar"
              >
                <svg
                  width="30px"
                  height="30px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.00386 9.41816C7.61333 9.02763 7.61334 8.39447 8.00386 8.00395C8.39438 7.61342 9.02755 7.61342 9.41807 8.00395L12.0057 10.5916L14.5907 8.00657C14.9813 7.61605 15.6144 7.61605 16.0049 8.00657C16.3955 8.3971 16.3955 9.03026 16.0049 9.42079L13.4199 12.0058L16.0039 14.5897C16.3944 14.9803 16.3944 15.6134 16.0039 16.0039C15.6133 16.3945 14.9802 16.3945 14.5896 16.0039L12.0057 13.42L9.42097 16.0048C9.03045 16.3953 8.39728 16.3953 8.00676 16.0048C7.61624 15.6142 7.61624 14.9811 8.00676 14.5905L10.5915 12.0058L8.00386 9.41816Z"
                    fill="currentColor"></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12ZM3.00683 12C3.00683 16.9668 7.03321 20.9932 12 20.9932C16.9668 20.9932 20.9932 16.9668 20.9932 12C20.9932 7.03321 16.9668 3.00683 12 3.00683C7.03321 3.00683 3.00683 7.03321 3.00683 12Z"
                    fill="currentColor"></path>
                </svg>
              </drawer-opener>
            </div>
            <aside class="service-sidebar">
              <div class="sidebar-widget radius18" data-aos="fade-up">
                <h2 class="sidebar-heading heading text-24">
                  Layanan yang saya tawarkan
                </h2>
                <ul class="secvice-categories list-unstyled">
                  <li>
                    <a
                      class={`secvice-category subheading subheading-bg text-18 fw-400 ${
                        lang === "golang" ? "active" : ""
                      }`}
                      href="/beranda/bahasa/golang"
                      aria-label="blog category"
                    >
                      Backend Golang Development
                      <svg
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.6895 7.25095H0.75C0.551088 7.25095 0.360322 7.32997 0.21967 7.47062C0.0790178 7.61127 0 7.80203 0 8.00095C0 8.19986 0.0790178 8.39063 0.21967 8.53128C0.360322 8.67193 0.551088 8.75095 0.75 8.75095H14.6895L9.219 14.2199C9.07817 14.3608 8.99905 14.5518 8.99905 14.7509C8.99905 14.9501 9.07817 15.1411 9.219 15.2819C9.35983 15.4228 9.55084 15.5019 9.75 15.5019C9.94916 15.5019 10.1402 15.4228 10.281 15.2819L17.031 8.53195C17.1008 8.46228 17.1563 8.37951 17.1941 8.2884C17.2319 8.19728 17.2513 8.0996 17.2513 8.00095C17.2513 7.9023 17.2319 7.80462 17.1941 7.7135C17.1563 7.62238 17.1008 7.53962 17.031 7.46995L10.281 0.719947C10.1402 0.579117 9.94916 0.5 9.75 0.5C9.55084 0.5 9.35983 0.579117 9.219 0.719947C9.07817 0.860777 8.99905 1.05178 8.99905 1.25095C8.99905 1.45011 9.07817 1.64112 9.219 1.78195L14.6895 7.25095Z"
                          fill="currentColor"></path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a
                      class={`secvice-category subheading subheading-bg text-18 fw-400 ${
                        lang === "rest_api" ? "active" : ""
                      }`}
                      href="/beranda/bahasa/rest_api"
                      aria-label="blog category"
                    >
                      REST API & Microservices <svg
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.6895 7.25095H0.75C0.551088 7.25095 0.360322 7.32997 0.21967 7.47062C0.0790178 7.61127 0 7.80203 0 8.00095C0 8.19986 0.0790178 8.39063 0.21967 8.53128C0.360322 8.67193 0.551088 8.75095 0.75 8.75095H14.6895L9.219 14.2199C9.07817 14.3608 8.99905 14.5518 8.99905 14.7509C8.99905 14.9501 9.07817 15.1411 9.219 15.2819C9.35983 15.4228 9.55084 15.5019 9.75 15.5019C9.94916 15.5019 10.1402 15.4228 10.281 15.2819L17.031 8.53195C17.1008 8.46228 17.1563 8.37951 17.1941 8.2884C17.2319 8.19728 17.2513 8.0996 17.2513 8.00095C17.2513 7.9023 17.2319 7.80462 17.1941 7.7135C17.1563 7.62238 17.1008 7.53962 17.031 7.46995L10.281 0.719947C10.1402 0.579117 9.94916 0.5 9.75 0.5C9.55084 0.5 9.35983 0.579117 9.219 0.719947C9.07817 0.860777 8.99905 1.05178 8.99905 1.25095C8.99905 1.45011 9.07817 1.64112 9.219 1.78195L14.6895 7.25095Z"
                          fill="currentColor"></path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a
                      class={`secvice-category subheading subheading-bg text-18 fw-400 ${
                        lang === "whatsapp" ? "active" : ""
                      }`}
                      href="/beranda/bahasa/whatsapp"
                      aria-label="blog category"
                    >
                      Integrasi WhatsApp & Automation <svg
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.6895 7.25095H0.75C0.551088 7.25095 0.360322 7.32997 0.21967 7.47062C0.0790178 7.61127 0 7.80203 0 8.00095C0 8.19986 0.0790178 8.39063 0.21967 8.53128C0.360322 8.67193 0.551088 8.75095 0.75 8.75095H14.6895L9.219 14.2199C9.07817 14.3608 8.99905 14.5518 8.99905 14.7509C8.99905 14.9501 9.07817 15.1411 9.219 15.2819C9.35983 15.4228 9.55084 15.5019 9.75 15.5019C9.94916 15.5019 10.1402 15.4228 10.281 15.2819L17.031 8.53195C17.1008 8.46228 17.1563 8.37951 17.1941 8.2884C17.2319 8.19728 17.2513 8.0996 17.2513 8.00095C17.2513 7.9023 17.2319 7.80462 17.1941 7.7135C17.1563 7.62238 17.1008 7.53962 17.031 7.46995L10.281 0.719947C10.1402 0.579117 9.94916 0.5 9.75 0.5C9.55084 0.5 9.35983 0.579117 9.219 0.719947C9.07817 0.860777 8.99905 1.05178 8.99905 1.25095C8.99905 1.45011 9.07817 1.64112 9.219 1.78195L14.6895 7.25095Z"
                          fill="currentColor"></path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a
                      class={`secvice-category subheading subheading-bg text-18 fw-400 ${
                        lang === "performa" ? "active" : ""
                      }`}
                      href="/beranda/bahasa/performa"
                      aria-label="blog category"
                    >
                      Optimasi Performa & Scaling <svg
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.6895 7.25095H0.75C0.551088 7.25095 0.360322 7.32997 0.21967 7.47062C0.0790178 7.61127 0 7.80203 0 8.00095C0 8.19986 0.0790178 8.39063 0.21967 8.53128C0.360322 8.67193 0.551088 8.75095 0.75 8.75095H14.6895L9.219 14.2199C9.07817 14.3608 8.99905 14.5518 8.99905 14.7509C8.99905 14.9501 9.07817 15.1411 9.219 15.2819C9.35983 15.4228 9.55084 15.5019 9.75 15.5019C9.94916 15.5019 10.1402 15.4228 10.281 15.2819L17.031 8.53195C17.1008 8.46228 17.1563 8.37951 17.1941 8.2884C17.2319 8.19728 17.2513 8.0996 17.2513 8.00095C17.2513 7.9023 17.2319 7.80462 17.1941 7.7135C17.1563 7.62238 17.1008 7.53962 17.031 7.46995L10.281 0.719947C10.1402 0.579117 9.94916 0.5 9.75 0.5C9.55084 0.5 9.35983 0.579117 9.219 0.719947C9.07817 0.860777 8.99905 1.05178 8.99905 1.25095C8.99905 1.45011 9.07817 1.64112 9.219 1.78195L14.6895 7.25095Z"
                          fill="currentColor"></path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a
                      class={`secvice-category subheading subheading-bg text-18 fw-400 ${
                        lang === "konsultasi" ? "active" : ""
                      }`}
                      href="/beranda/bahasa/konsultasi"
                      aria-label="blog category"
                    >
                      Konsultasi Arsitektur Sistem <svg
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.6895 7.25095H0.75C0.551088 7.25095 0.360322 7.32997 0.21967 7.47062C0.0790178 7.61127 0 7.80203 0 8.00095C0 8.19986 0.0790178 8.39063 0.21967 8.53128C0.360322 8.67193 0.551088 8.75095 0.75 8.75095H14.6895L9.219 14.2199C9.07817 14.3608 8.99905 14.5518 8.99905 14.7509C8.99905 14.9501 9.07817 15.1411 9.219 15.2819C9.35983 15.4228 9.55084 15.5019 9.75 15.5019C9.94916 15.5019 10.1402 15.4228 10.281 15.2819L17.031 8.53195C17.1008 8.46228 17.1563 8.37951 17.1941 8.2884C17.2319 8.19728 17.2513 8.0996 17.2513 8.00095C17.2513 7.9023 17.2319 7.80462 17.1941 7.7135C17.1563 7.62238 17.1008 7.53962 17.031 7.46995L10.281 0.719947C10.1402 0.579117 9.94916 0.5 9.75 0.5C9.55084 0.5 9.35983 0.579117 9.219 0.719947C9.07817 0.860777 8.99905 1.05178 8.99905 1.25095C8.99905 1.45011 9.07817 1.64112 9.219 1.78195L14.6895 7.25095Z"
                          fill="currentColor"></path>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a
                      class={`secvice-category subheading subheading-bg text-18 fw-400 ${
                        lang === "maintenance" ? "active" : ""
                      }`}
                      href="/beranda/bahasa/maintenance"
                      aria-label="blog category"
                    >
                      Maintenance & Support Aplikasi <svg
                        viewBox="0 0 18 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M14.6895 7.25095H0.75C0.551088 7.25095 0.360322 7.32997 0.21967 7.47062C0.0790178 7.61127 0 7.80203 0 8.00095C0 8.19986 0.0790178 8.39063 0.21967 8.53128C0.360322 8.67193 0.551088 8.75095 0.75 8.75095H14.6895L9.219 14.2199C9.07817 14.3608 8.99905 14.5518 8.99905 14.7509C8.99905 14.9501 9.07817 15.1411 9.219 15.2819C9.35983 15.4228 9.55084 15.5019 9.75 15.5019C9.94916 15.5019 10.1402 15.4228 10.281 15.2819L17.031 8.53195C17.1008 8.46228 17.1563 8.37951 17.1941 8.2884C17.2319 8.19728 17.2513 8.0996 17.2513 8.00095C17.2513 7.9023 17.2319 7.80462 17.1941 7.7135C17.1563 7.62238 17.1008 7.53962 17.031 7.46995L10.281 0.719947C10.1402 0.579117 9.94916 0.5 9.75 0.5C9.55084 0.5 9.35983 0.579117 9.219 0.719947C9.07817 0.860777 8.99905 1.05178 8.99905 1.25095C8.99905 1.45011 9.07817 1.64112 9.219 1.78195L14.6895 7.25095Z"
                          fill="currentColor"></path>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-7">
          <div class="service-details-content">
            <div class="details-media radius18" data-aos="fade-up">
              <img
                src="/assets/golang.jpeg"
                width="1000"
                height="596"
                loading="lazy"
                alt="Backend Golang"
              />
            </div>
            <h2 class="heading text-50" data-aos="fade-up">
              Backend Cepat &amp; Tangguh dengan Golang
            </h2>

            <p class="text text-18" data-aos="fade-up">
              Di balik aplikasi modern yang nyaman digunakan, selalu ada backend
              yang kuat, aman, dan stabil. Di sinilah saya menggunakan Golang
              (Go) sebagai senjata utama untuk membangun sistem yang cepat,
              ringan, dan scalable.
            </p>

            <p class="text text-18" data-aos="fade-up">
              Golang adalah bahasa pemrograman modern yang dikembangkan oleh
              Google, dirancang khusus untuk menangani aplikasi berskala besar
              dengan performa tinggi. Dengan arsitektur yang sederhana tapi
              powerful, Go mampu memproses ribuan request secara paralel tanpa
              membebani server secara berlebihan. Hasilnya: aplikasi lebih
              responsif, hemat resource, dan siap melayani banyak pengguna
              sekaligus.
            </p>

            <h3 class="heading text-30" data-aos="fade-up">
              Mengapa Memilih Golang untuk Proyek Anda?
            </h3>

            <p class="text text-18" data-aos="fade-up">
              Golang menawarkan kombinasi performa tinggi, sintaks yang
              sederhana, dan dukungan concurrency bawaan melalui goroutine dan
              channel. Hal ini menjadikannya pilihan ideal untuk membangun REST
              API, microservices, worker, maupun sistem real-time yang
              membutuhkan kestabilan dan skalabilitas. Dengan tipe data yang
              statis dan tooling bawaan yang kuat, kode menjadi lebih mudah
              dirawat dan siap digunakan dalam jangka panjang.
            </p>

            <faq-accordion class="service-faq">
              <div class="accordion-block" data-aos="fade-up">
                <div class="accordion-opener heading text-24">
                  Layanan apa saja yang saya tawarkan dengan Golang?
                  <svg
                    class="icon icon-24"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_9088_8345)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.7083 15.7044C12.5208 15.8919 12.2665 15.9972 12.0013 15.9972C11.7362 15.9972 11.4818 15.8919 11.2943 15.7044L5.63732 10.0474C5.54181 9.95517 5.46563 9.84482 5.41322 9.72282C5.36081 9.60081 5.33322 9.46959 5.33207 9.33681C5.33092 9.20404 5.35622 9.07236 5.4065 8.94946C5.45678 8.82656 5.53103 8.71491 5.62492 8.62102C5.71882 8.52713 5.83047 8.45287 5.95337 8.40259C6.07626 8.35231 6.20794 8.32701 6.34072 8.32816C6.4735 8.32932 6.60472 8.3569 6.72672 8.40931C6.84873 8.46172 6.95907 8.5379 7.05132 8.63341L12.0013 13.5834L16.9513 8.63341C17.1399 8.45125 17.3925 8.35046 17.6547 8.35274C17.9169 8.35502 18.1677 8.46019 18.3531 8.64559C18.5385 8.831 18.6437 9.08182 18.646 9.34401C18.6483 9.60621 18.5475 9.85881 18.3653 10.0474L12.7083 15.7044Z"
                        fill="CurrentColor"></path>
                    </g>
                    <defs>
                      <clipPath>
                        <rect width="24" height="24" fill="CurrentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="accordion-content">
                  <div class="accordion-content-inner text text-18">
                    Saya membantu membangun dan mengembangkan backend
                    menggunakan Golang, mulai dari RESTful API, microservices,
                    sistem autentikasi, hingga worker untuk pemrosesan data di
                    background. Selain itu, saya juga dapat melakukan integrasi
                    dengan layanan pihak ketiga seperti payment gateway,
                    WhatsApp API, email service, dan lain-lain.
                  </div>
                </div>
              </div>

              <div class="accordion-block" data-aos="fade-up">
                <div class="accordion-opener heading text-24">
                  Apakah Golang cocok untuk proyek yang sudah punya backend
                  PHP/Node.js?
                  <svg
                    class="icon icon-24"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_9088_8345)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.7083 15.7044C12.5208 15.8919 12.2665 15.9972 12.0013 15.9972C11.7362 15.9972 11.4818 15.8919 11.2943 15.7044L5.63732 10.0474C5.54181 9.95517 5.46563 9.84482 5.41322 9.72282C5.36081 9.60081 5.33322 9.46959 5.33207 9.33681C5.33092 9.20404 5.35622 9.07236 5.4065 8.94946C5.45678 8.82656 5.53103 8.71491 5.62492 8.62102C5.71882 8.52713 5.83047 8.45287 5.95337 8.40259C6.07626 8.35231 6.20794 8.32701 6.34072 8.32816C6.4735 8.32932 6.60472 8.3569 6.72672 8.40931C6.84873 8.46172 6.95907 8.5379 7.05132 8.63341L12.0013 13.5834L16.9513 8.63341C17.1399 8.45125 17.3925 8.35046 17.6547 8.35274C17.9169 8.35502 18.1677 8.46019 18.3531 8.64559C18.5385 8.831 18.6437 9.08182 18.646 9.34401C18.6483 9.60621 18.5475 9.85881 18.3653 10.0474L12.7083 15.7044Z"
                        fill="CurrentColor"></path>
                    </g>
                    <defs>
                      <clipPath>
                        <rect width="24" height="24" fill="CurrentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="accordion-content">
                  <div class="accordion-content-inner text text-18">
                    Sangat cocok. Golang bisa berjalan berdampingan dengan
                    backend yang sudah ada, misalnya dengan memindahkan
                    modul-modul yang kritis performa ke service terpisah
                    berbasis Go. Sistem lama tetap bisa digunakan, sementara
                    bagian yang membutuhkan kecepatan dan skalabilitas tinggi
                    ditangani oleh service Golang melalui API atau message
                    queue.
                  </div>
                </div>
              </div>

              <div class="accordion-block" data-aos="fade-up">
                <div class="accordion-opener heading text-24">
                  Bagaimana alur kerja pengembangan backend dengan Golang?
                  <svg
                    class="icon icon-24"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_9088_8345)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.7083 15.7044C12.5208 15.8919 12.2665 15.9972 12.0013 15.9972C11.7362 15.9972 11.4818 15.8919 11.2943 15.7044L5.63732 10.0474C5.54181 9.95517 5.46563 9.84482 5.41322 9.72282C5.36081 9.60081 5.33322 9.46959 5.33207 9.33681C5.33092 9.20404 5.35622 9.07236 5.4065 8.94946C5.45678 8.82656 5.53103 8.71491 5.62492 8.62102C5.71882 8.52713 5.83047 8.45287 5.95337 8.40259C6.07626 8.35231 6.20794 8.32701 6.34072 8.32816C6.4735 8.32932 6.60472 8.3569 6.72672 8.40931C6.84873 8.46172 6.95907 8.5379 7.05132 8.63341L12.0013 13.5834L16.9513 8.63341C17.1399 8.45125 17.3925 8.35046 17.6547 8.35274C17.9169 8.35502 18.1677 8.46019 18.3531 8.64559C18.5385 8.831 18.6437 9.08182 18.646 9.34401C18.6483 9.60621 18.5475 9.85881 18.3653 10.0474L12.7083 15.7044Z"
                        fill="CurrentColor"></path>
                    </g>
                    <defs>
                      <clipPath>
                        <rect width="24" height="24" fill="CurrentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="accordion-content">
                  <div class="accordion-content-inner text text-18">
                    Prosesnya dimulai dari analisis kebutuhan bisnis,
                    perancangan arsitektur service dan database, kemudian
                    implementasi API dan fitur-fitur yang dibutuhkan. Setelah
                    itu dilakukan pengujian fungsional dan beban (load test)
                    untuk memastikan performa, lalu dibantu sampai tahap
                    deployment ke server atau cloud yang Anda gunakan.
                  </div>
                </div>
              </div>

              <div class="accordion-block" data-aos="fade-up">
                <div class="accordion-opener heading text-24">
                  Berapa lama pengembangan satu proyek backend dengan Golang?
                  <svg
                    class="icon icon-24"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_9088_8345)">
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.7083 15.7044C12.5208 15.8919 12.2665 15.9972 12.0013 15.9972C11.7362 15.9972 11.4818 15.8919 11.2943 15.7044L5.63732 10.0474C5.54181 9.95517 5.46563 9.84482 5.41322 9.72282C5.36081 9.60081 5.33322 9.46959 5.33207 9.33681C5.33092 9.20404 5.35622 9.07236 5.4065 8.94946C5.45678 8.82656 5.53103 8.71491 5.62492 8.62102C5.71882 8.52713 5.83047 8.45287 5.95337 8.40259C6.07626 8.35231 6.20794 8.32701 6.34072 8.32816C6.4735 8.32932 6.60472 8.3569 6.72672 8.40931C6.84873 8.46172 6.95907 8.5379 7.05132 8.63341L12.0013 13.5834L16.9513 8.63341C17.1399 8.45125 17.3925 8.35046 17.6547 8.35274C17.9169 8.35502 18.1677 8.46019 18.3531 8.64559C18.5385 8.831 18.6437 9.08182 18.646 9.34401C18.6483 9.60621 18.5475 9.85881 18.3653 10.0474L12.7083 15.7044Z"
                        fill="CurrentColor"></path>
                    </g>
                    <defs>
                      <clipPath>
                        <rect width="24" height="24" fill="CurrentColor"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="accordion-content">
                  <div class="accordion-content-inner text text-18">
                    Durasi pengembangan sangat bergantung pada kompleksitas
                    fitur dan integrasi yang dibutuhkan. Untuk API sederhana
                    biasanya bisa selesai dalam hitungan minggu, sedangkan
                    sistem yang lebih kompleks dan terintegrasi dengan banyak
                    layanan bisa memakan waktu lebih lama. Setelah mengetahui
                    detail kebutuhan Anda, saya dapat memberikan estimasi waktu
                    yang lebih spesifik.
                  </div>
                </div>
              </div>
            </faq-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
